<%= form_for @tasks do |f| %>
  <!-- fields in  task table description:string, done:boolean, category_id:integer -->
  <p>
    <%= f.check_box :done %>
  
    <%= f.text_field :description %>
  </p>
  
  <%= f.submit %>
<% end %>