<html>
<head>
   <%= stylesheet_link_tag "groups.css" %>

  <title>
    The Nag
  </title>
</head>
<body  style="margin-top: 100px;">
   <div id="form">
     <img class ="crown" src="/assets/crown.png">
     <h2 class="titlething">Create Group</h2>
     <div id="formbackground">
       <%= form_for @group do |f| %>
         <p style="margin-top: 20px;">
           <%= f.text_field :name, :class => "inputtimes1",:placeholder => "Name" %>
         </p>

         <%= f.submit :class => "submittimes"%>
       <% end %>
    
     </div>
   </div>
</body>
</html>