<img class ="crown2 animated bounce" src="/assets/crown.png" style="position:relative;top: 50px; left: -58px;">
<h1 class ="animated fadeInDown">Edit</h1>



<div id="center" class ="animated fadeInUp">
    <%= render :partial => "form" %>
</div>

