
<img class ="crown2 animated bounce" src="/assets/crown.png">
<h1 class ="animated fadeInDown">Sign Up</h1>



<div id="center" class ="animated fadeInUp">
    <%= render :partial => "form" %>
</div>



