<<<<<<< HEAD
<img class ="crown2 animated bounce" src="/assets/crown.png">
<h1 class ="animated fadeInDown">Sign Up</h1>



<div id="center" class ="animated fadeInUp">
    <%= render :partial => "form" %>
</div>

=======
<header><h1>Sign Up</h1></header>
>>>>>>> 76fee5175c735ea89566855edb62710667909c59

