<html>
  <head>
    <%= stylesheet_link_tag "home.css" %>

    
    <title>
      <p>The Nag</p>
    </title>
  </head>
  <body>
    <div>
    <img src="/assets/largelogo.png" style=" max-width: 350px; display:block; margin: 0 auto;margin-top: 100px;">
    <div>
      <p class = "center" > <%= link_to "SIGN UP", new_user_path %> | SIGN IN </p>
  </body>
</html>