    <div id="topbannertimes">
      <div id="innerbanner">
        <%= link_to "SIGN UP", :new_user %> | 
        <% link_text = session[:try_again] ? "SIGN IN (try again)" : "SIGN IN" %>
        <% if session[:user_id] %>
          <%= link_to "Dashboard", :dashboard %>
        <% else %>
          <%= link_to link_text, :new_login %>
        <% end %>
        </div>
    </div>



    <div>
      <img class ="logo" src="/assets/largelogo.png" style=" max-width: 350px; display:block; margin: 0 auto;margin-top: 150px;">
    
