.clear:before,
.clear:after {
    content: " ";
    display: table;
}

.clear:after {
    clear: both;
}
.left {
	float: left;
}
.lt_col {
	width: 45%;
}
.rt_col {
	width: 45%;
}
.group {
	font-size: 40px;	
}
.list {
	list-style-type: none;
	font-size: 36px;
	margin: 0 0 20px 20px;
	padding-bottom: 20px;
	height: 25px;
}
.list div a {
	width: 50px;
	height: 0;
	padding-top: 50px;
	background-repeat: no-repeat;
	overflow: hidden;
	display: inline-block;
}
.list .desc {
	margin: 0;
}
.delete {
	background-position: 20px 10px;
	background-image: url('close.png');
	opacity: 0.30;
	transition: opacity 1s ease;
}
.delete:hover {
	opacity: 1.0;
}
.done {
	background-position: 0px 7px;
	background-image: url('checked_30.png');
}
.not_done {
	background-position: 0px 7px;
	background-image: url('unchecked_30.png');
}
.new_task {
	margin: 0 0 0 38px;
}
.group_list a {
	text-decoration: none;
	font-size: 20px;
	color: red;
}
.group_name {

}