

@font-face {
    font-family: 'lobster_1.3regular';
    src: url('lobster_1.3-webfont.eot');
    src: url('lobster_1.3-webfont.eot?#iefix') format('embedded-opentype'),
         url('lobster_1.3-webfont.woff') format('woff'),
         url('lobster_1.3-webfont.ttf') format('truetype'),
         url('lobster_1.3-webfont.svg#lobster_1.3regular') format('svg');
    font-weight: normal;
    font-style: normal;

}
.submittimes2{
  width: 40px;
  height: 40px;
  padding: 0px !important;
}
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.clearfix {
    display: inline-block;
    margin-bottom: 60px;
}
.clearfix {
    display: block;
}


h2{
  font-family:'lobster_1.3regular';
  font-size: 50px;
  text-align:center;
}

#formbackground{
  background-color: #f16467;
  max-width: 400px;
  padding-left: 25px;
  padding-right:25px;
  padding-bottom: 25px;
}

#formbackground1{
  background-color: #f16467;
  max-width: 400px;
  padding-left: 25px;
  padding-right:25px;
  padding-bottom: 93px;
}
.crown{
  max-width: 80px;
  padding-left: 30px;
  margin-bottom: -40px;
}

#form{
  height:400px;
  width:100%;
  max-width: 400px;
  display:block;
  margin: 0 auto;
}
#insideform{
  background: white;
}

.inputtimes1{
  width: 100%;
  padding: 20px;
  text-align:center;
  font-size: 20px;
  margin-top:25px;
  max-width:305px;
  
}

.newtasklist{
  text-align:center;
  
}

.listtext{
  font-size: 24px;
}

.buttontimes {
  width: 100%;
	padding:25px ; 
	background: #8ec63f;
	  transition-property: background;
	  transition-duration: 1s;
	  transition-timing-function: linear;
	border:0 none;
	cursor:pointer;
	color: white;
  text-align:center;
  font-size: 20px;
}
.buttontimes:hover {
  background: red;
color: white;
}
  
  
.showtitle{
  text-align:center;
  font-size: 35px;
  padding: 25px;
  color: white;
}
.creategrouptasks{
  width: 100%;
  padding: 20px;
  text-align:center;
  font-size: 20px;
   max-width:305px;
   margin-bottom: 18px;
   width: 53%;
   float: left;
   
}

.submittimes{
  width:100%;
  padding: 22px !important;
  text-align:center;
  font-size: 20px;
  width: 30%;
  float: right;
}

input[type=submit] {
	padding:25px ; 
	background: #8ec63f;
	  transition-property: background;
	  transition-duration: 1s;
	  transition-timing-function: linear;
	border:0 none;
	cursor:pointer;
	color: white;
  text-align:center;
  font-size: 20px;
}

input[type="submit"]:hover{
   background: white;
	color: gray;
}