.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

/*---------------------------------------*/
header {
  width: 200px;
  background: url("crown.png");
  background-repeat: no-repeat;
  background-size:  20%;
  background-position: 0px 10px;
  margin: 0 auto 0 140px;
}

h1 {
  font-family:'lobster_1.3regular';
  text-align:center;
  padding-top: 30px;
}

#account_info {
/*  border: blue solid 7px;*/
  margin: 0 auto 0 45px;
  width: 30%;
  font-size: 24px;
  text-align: center;
  font-family: sans-serif;
}

#user_info_list {
/*  border: green solid 5px;*/
  padding-left: 0;
}

.info_box {
  border: #A6A3A5 solid 1px;
  margin: 5px auto;
}

#button_bar_div {
  
}

#button_bar_list {
  padding: 0;
  margin: 5px auto;
}

#button_bar_list li {
  border: #A6A3A5 solid 1px;
  display: inline;
}

#e-button {
  background: #83D296;
  float: left;
  width: 47%;
}

#d-button {
  background: #D21D2B;
  float: right;
  width: 49%;
}

.edit_button {
  text-decoration: none;
}

.delete_button {
  color: white;
  text-decoration: none;
  
}